<%= simple_form_for(@listing, :html => {:multipart => true},
                    defaults: { wrapper_html: { class: 'form-group' },
                                input_html: { class: 'form-control' } } ) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :name %>
    <%= f.input :image, as: :file, label: 'Featured Image' %>
    <%= f.input :description, as: :text, :input_html => { :cols => 5, :rows => 10 } %>
    <%= f.input :location %>
    <div class="form-group">
      <%= label_tag("More Images") %>
      <%= file_field_tag "images[]",
                         type: :file,
                         multiple: true,
                         label: 'More Images', class: 'form-control' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div>
<% end %>
