<div id="listings" class="m-t-20">
  <div class="container">
    <div class="row">
      <div class="cards">
        <% @listings.each do |listing| %>
          <% link_to listing do %>
          <% end  %>
          <div class="card">
            <div class="card-image">
              <%= link_to image_tag(listing.image.url(:medium)) , listing, class: "image-responsive-height" %>
            </div>
            <div class="card-header">
              <%= link_to listing.name, listing %>
            </div>
            <div class="card-copy">
              <p>

              </p>
            </div>
          </div>





          <div class="comment">
            <div class="comment-image">
              <%= link_to image_tag(listing.image.url(:medium)) , listing, class: "image-responsive-height" %>
            </div>
            <div class="comment-content">
              <h1><%= link_to listing.name, listing %></h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
              <p class="comment-detail">Date or details about this post</p>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <% if user_signed_in? %>
      <%= link_to 'New Listing', new_listing_path , class: "btn btn-success"%>
    <% end %>
  </div>
</div>




